@font-face {
  src: url("../../vendor/fonts/CabinetGrotesk-Bold.otf") format("opentype");
  font-family: "CabinetGrotesk-Bold";
  font-style: normal;
}

@font-face {
  src: url("../../vendor/fonts/CabinetGrotesk-Medium.otf") format("opentype");
  font-family: "CabinetGrotesk-Medium";
  font-style: normal;
}

.page {
  min-height: 100vh;
  background-color: #f3f3f3;
  color: #000;
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
