.sidebar {
  max-width: 325px;
  width: 100%;
}

.sidebar__header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
}

.sidebar__username {
  margin: 0;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

.sidebar__btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.sidebar__btn {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}

.sidebar__btn:hover {
  color: #00000099;
}
